<div class="signup-wrapper">

  <div class="signup-form">
    <h2 class="signup-app-title">HealthInvestment</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "signup-input", placeholder: "メールアドレス" %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "new-password", class: "signup-input", placeholder: "パスワード" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "signup-input", placeholder: "パスワード確認" %>
      </div>

      <div class="field">
        <%= f.text_field :nickname, placeholder: "ニックネーム" , class: "signup-input" %>
      </div>

      <div class="field">
        <%= f.text_area :goal, placeholder: "目標..." , class: "signup-input-goal" %>
      </div>

      <div class="field" id="user_image_area">
        <%= f.label :image, for: "user_image", value: "アイコン画像を選択", class: "image-label" %><br />
        <%= f.file_field :image, style: "display: none;" %>
      </div>

      <div class="field">
        <%= f.hidden_field :registration_date, value: Date.today %>
      </div>

      <div class="actions">
        <%= f.submit "新規登録", class: "input-signup" %>
      </div>
    <% end %>

  </div>

  <div class="signup-border"></div>
  <%= render "devise/shared/links" %>

</div>
