<div class="current-group" data-group=<%= @group.id %> >
  <div class="current-group-header">
    <div class="center-group-name"><%= @group.name %></div>
    <div class="leave-group-wrapper"><i class="far fa-times-circle"></i></i><%= link_to "このグループからぬける", leave_group_group_path(@group), method: :delete, class: "leave-group" %></div>
  </div>
  <div class="current-group-main">
    <div class="main-heading">
      <div class="group-plans">本日の予定</div>
      <div class="group-achieve-num">現在までの完了人数  <span class="achieve-num"><%= @achieves %></span>人</div>
    </div>
    <div class="members">
      <% @users.each do |user| %>
        <div class="member-box">
          <div class="member">
            <div class="member-name"><%= image_tag user.image, class: "chat-user-image" %><%= user.nickname %></div>
            <div class="run-status">
              <% if user.runs.find_by(date: Date.today) == nil %>
                <div class="not-achieve">未達</div>
              <% else %>
                <div class="get-achieve">達成</div>
              <% end %>
            </div>
          </div>
          <div class="member-plan">
            <% user.plans.where(date: Date.today).each do |plan| %>
              <div class="plan-menu">・<%= plan.plan %></div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="chat">
  <div class="chat-header">
    <i class="far fa-calendar-alt"></i><%= link_to "カレンダーに戻る", root_path, class: "rigth-to-calendar" %>
  </div>
  <div class="chat-main">
    <% @messages.each do |message| %>
      <div class="message" data-index=<%= message.id %>>
        <div class="upper-message">
          <div><%= image_tag message.user.image, class: "chat-user-image" %></div>
          <div class="message-user">
            <%= message.user.nickname %>
          </div>
          <div class="message-date">
            <%= l message.created_at %>
          </div>
        </div>
        <div class="lower-message">
          <div class="message-content">
            <%= safe_join(message.content.split("\n"),tag(:br)) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= form_with model: [@group, @message], class: "chat-form" do |f| %>
    <%= f.text_area :content, class: "content-form", placeholder: "ここにテキストを入力..." %>
    <%= f.submit "つぶやく", class: "content-submit" %>
  <% end %>
</div>