<div>
<%= link_to "カレンダーへ", root_path %>
<%= link_to "グループ検索へ", search_group_groups_path %>
</div>
<div>
  <%= form_with model: @group, local: true do |f| %>
    <%= f.label :グループ名 %>
    <%= f.text_field :name, placeholder: "グループ名を入力..." %>
    <%= f.text_area :promotion, placeholder: "グループの紹介や宣伝を記入..." %>
    <%= f.submit "グループを作成" %>
  <% end %>
</div>