<%= link_to "戻る", root_path %>

<div id="day-done"></div>

<%= form_with model:@plan, url:day_plan_create_plans_path, method: :post, class: "day-calender-form" do |f| %>
  <%= f.hidden_field :date, value: @day, class: "day-date-input" %>
  <%= f.text_field :plan, class: "day-plan-input", placeholder: "プランを入力..." %>
  <%= f.submit "保存", class: "day-submit-btn" %>
<% end %>

<% if @day == Date.today %>
  <div class="day-content">
    <div class="day-date"><%= @day %></div>
    <div class="day-plan">
      <% if @plans.length != 0 %>
        <% @plans.each do |plan| %>
          <% if Plan.find(plan.id).achievement == nil  %>
            <div class="day-plan-element" ><input type="checkbox" class="day-achieve-check" data-id=<%= plan.id %>><span><%= plan.plan %></span> <div class="day-plan-delete"><span class="day-plan-delete-btn" data-id=<%= plan.id %>>削除</span></div></div>
          <% else %>
            <div class="day-plan-element" ><input type="checkbox" checked="checked" style="pointer-events: none;" class="day-achieve-checked" data-id=<%= plan.id  %>> <span><%= plan.plan %></span> <div class="day-plan-delete"><span class="day-plan-delete-btn" data-id=<%= plan.id %> style="pointer-events: none;">達成済み</span></div></div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="day-content">
    <div class="day-date"><%= @day %></div>
    <div class="day-plan">
      <% if @plans.length != 0 %>
        <% @plans.each do |plan| %>
          <div class="day-plan-element" ><span>・<%= plan.plan %></span> <div class="day-plan-delete"><span class="day-plan-delete-btn" data-id=<%= plan.id %>>削除</span></div></div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>


