<header>
  <h2 class="blog-title">HealthInvestment</h2>
  <% if user_signed_in? %>
    <div class="tags">
      <%= link_to "新規投稿", "#", class: "header-btn" %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header-btn" %>
    </div>
  <% else %>
    <div class="tags">
      <%= link_to "ログイン", new_user_session_path, class: "header-btn" %>
      <%= link_to "新規登録", new_user_registration_path, class: "header-btn" %>
    </div>
  <% end %>
</header>

<div class="wrapper">

  <div class="side">
    <div class="introduction">
      <%= image_tag("side.jpg", class: "introduction-image") %>
      <div class="user-name">yoritomiくん</div>
      <div class="description">健康への投資の大切さに気づいて筋トレを開始！<br>無理なく始める予定。</div>
    </div>
    <p>あなたのポイント</p>
    <p><%= @point %>pt</p>
    <p>継続日数</p>
    <p><%= @run_count %>日</p>
    <div class="side-btns"> 
    </div>
    <div class="recommended">
      <%= link_to '通知を見る', chart_plans_path %>
      <p class="popular-text">＜healthinvestment偏差値＞</p>
    </div>
  </div>

  <div class="main">
    <div class="contents">
      <div class="upper-content">
        <%= form_with model:@plan do |f| %>
          <%= f.label :日付を選択, class: "label" %>
          <%= f.date_field :date %>
          <%= f.label :予定を入力, class: "label" %>
          <%= f.text_field :plan %>
          <%= f.submit "保存" %>
        <% end %>
        <div id="quick-area">
          <div id="quick-btn">簡単予定入力</div>
          <ul class="more_list">
            <li class="basic">Basicメニューで入力</li>
            <li class="normal">Normalメニューで入力</li>
            <li class="hard">Hardメニューで入力</li>
          </ul>
        </div>
      </div>
      <div id="done">
        <% if @run.present? %>
          <div>本日の予定は完了です！</div>
        <% end %>
      </div>
      <div class="calender">
        <% @week_days.each_with_index do |day, x| %>
          <% if x == 0 %>
            <div class="content">
              <div class='date'>
                <%= day[:month] %>/<%= day[:date] %><%= day[:wday] %>
              </div>
              <div class="plan" data-index=<%= x + 1 %>>
                <% if day[:plans].length != 0 %>
                  <% day[:plans].each do |hash| %>
                    <% if Plan.find(hash[:id]).achievement == nil  %>
                      <p>・<%= hash[:plan] %><input type="checkbox" class="achieve-check" data-id=<%= hash[:id] %>></p>
                    <% else %>
                      <p>・<%= hash[:plan] %><input type="checkbox" checked="checked" class="achieve-checked" data-id=<%= hash[:id] %>></p>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% else %>
            <div class="content">
              <div class='date'>
                <%= day[:month] %>/<%= day[:date] %><%= day[:wday] %>
              </div>
              <div class="plan" data-index=<%= x + 1 %>>
                <% if day[:plans].length != 0 %>
                  <% day[:plans].each do |hash| %>
                      <p>・<%= hash[:plan] %></p>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  
</div>

<footer>
  <h4>HealthInvestment</h4>
</footer>
