<header>
  <h2 class="app-title">HealthInvestment</h2>
  <div><%= image_tag current_user.image, class: "header-icon" %></div>
</header>

<div class="wrapper">

  <div class="side">
    <div class="introduction">
      <div class="show-area">
        <%= link_to user_path(current_user.id) do %>
          <%= image_tag current_user.image, class: "introduction-image" %> <br>
        <% end %>
        <div class="user-name"><%= current_user.nickname %></div>
      </div>
      <% if current_user.goal.present? %>
        <div class="description"><%= current_user.goal %></div>
      <% else %>
        <div class="description">目標は設定されていません。</div>
      <% end %>
    </div>
    
    <div class="point-area">
      <div class="point-head">現在のポイント</div>
      <% if @point %>
        <div class="user-point"><%= @point %> pt</div>
      <% else %>
        <div class="user-point">0 pt</div>
      <% end %>
      <div id="point-message"></div>
    </div>
    <div class="continuation-area">
      <div class="continuation-head">最長継続日数</div>
      <div class="continuation-days"><%= @run_count %> 日</div>
    </div>
    
    <div class="recommended">
      <div class="link-wrapper"><%= link_to '最近の達成状況', chart_plans_path, class: "recommended-link" %></div>
      <div class="groups-wrapper"><%= link_to '所属グループ', groups_path, class: "groups-link" %></div>
    </div>
    

    <div class="side-copy">
      さあ、<br>
      はじめよう。
    </div>
    <div class="side-image">
      <%= image_tag "side2.png", class: "side-2" %>
    </div>
  </div>

  <div class="main">
    <div class="contents">
      <div class="upper-content">
        <%= form_with model:@plan, class: "calender-form" do |f| %>
          <%#= f.label :日付を選択, class: "label" %>
          <%= f.date_field :date, class: "date-input" %>
          <%#= f.label :予定を入力, class: "label" %>
          <%= f.text_field :plan, class: "plan-input", placeholder: "プランを入力..." %>
          <%= f.submit "プランを保存", class: "submit-btn" %>
        <% end %>
        <div id="quick-area">
          <div id="quick-btn"><div>用意されたプランで登録</div><div class="quick-btn-description">（1週間分のメニューを登録します）</div></div>
          <ul class="more_list">
            <li class="basic">Basicメニューで登録</li>
            <li class="normal">Normalメニューで登録</li>
            <li class="hard">Hardメニューで登録</li>
          </ul>
        </div>
      </div>
      <div id="done">
       
        <%# if @run.present? %>
          <%# <div>本日の予定は完了です！</div> %>
        <%# end %>
      </div>
      <div class="calender">
        <% @week_days.each_with_index do |day, x| %>
          <% if x == 0 %>
            <div class="content">
              <div class='date'>
                <%= day[:month] %>/<%= day[:date] %><%= day[:wday] %>
              </div>
              <div class="plan" data-index=<%= x + 1 %>>
                <% if day[:plans].length != 0 %>
                  <% day[:plans].each do |hash| %>
                    <% if Plan.find(hash[:id]).achievement == nil  %>
                      <div class="plan-element" ><input type="checkbox" class="achieve-check" data-id=<%= hash[:id] %>><span><%= hash[:plan] %></span> <div class="plan-delete"><span class="plan-delete-btn" data-id=<%= hash[:id] %>>削除</span></div></div>
                    <% else %>
                      <div class="plan-element" ><input type="checkbox" checked="checked" style="pointer-events: none;" class="achieve-checked" data-id=<%= hash[:id]  %>> <span><%= hash[:plan] %></span> <div class="plan-delete"><span class="plan-delete-btn" data-id=<%= hash[:id] %> style="pointer-events: none;">達成済み</span></div></div>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% else %>
            <div class="content">
              <div class='date'>
                <%= day[:month] %>/<%= day[:date] %><%= day[:wday] %>
              </div>
              <div class="plan" data-index=<%= x + 1 %>>
                <% if day[:plans].length != 0 %>
                  <% day[:plans].each do |hash| %>
                      <div class="plan-element" ><span>・<%= hash[:plan] %></span> <div class="plan-delete"><span class="plan-delete-btn" data-id=<%= hash[:id] %>>削除</span></div></div>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  
</div>

<footer>
  <h4 class="footer-title">HealthInvestment</h4>
  <% if user_signed_in? %>
      <div class="logout-btn">
        <%= link_to "ログアウトする", destroy_user_session_path, method: :delete, class: "logout" %>
      </div>
    <% end %>
</footer>
